.container{
    background-image: linear-gradient( 109.8deg,  rgba(62,5,116,1) -5.2%, rgba(41,14,151,1) -5.2%, rgba(216,68,148,1) 103.3% );
    width: 43.75rem;
    margin: auto;
    border-radius: 5px;
    text-align: left;
    padding: 10px 0px 50px 50px;
    box-sizing: border-box;
    color:#fff;
    margin-bottom: 3rem;
    font-size: 1.125rem;
}

h1.title{
    text-align: center;
}

.registerForm label{
    display: block;
    padding: 15px 0 10px 10px;
}

.registerForm input, select{
    display: block;
    width: 90%;
    box-sizing: border-box;
    padding: 12px 0px;
    border: 1px solid #f2f2f2;
    border-radius:1.5rem;
    padding-left: 1rem;
    font-size:1rem;
}

.registerForm input:focus{
    outline: none
}

.registerForm input[type="checkbox"], input[type="radio"]{
    display: inline-block;
    width:5%;
    box-sizing: border-box;
    padding: 0px;
    border: 0px solid #f2f2f2;
    border-radius:0;
}

.items label{
    display: inline-block;
    padding: 0 15px 0 0;
}

.registerForm button{
    padding: 10px 40px;
    background-color: #f2f2f2;
    border:1px solid #f2f2f2;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    display:flex;
    margin: auto;
    margin-top: 2rem;
    font-weight: bold;
    transition: 0.3s;
}

.registerForm button:hover{
    background:transparent;
    color:#fff;
}